<div class="container">

  <h4>Sign Up</h4>

  <% if @user %>
    <ul class="list-unstyled">
      <% @user.errors.each do |column, error_message| %>
        <li><%= column %> <%= error_message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_tag sign_up_path do %>
    <%= label_tag "e-mail" %>
    <%= text_field_tag "user[email]" %>
    <%= label_tag :password %>
    <%= password_field_tag "user[password]" %>
    <%= label_tag "confirm your password" %>
    <%= password_field_tag "user[password_confirmation]" %>
    <%= submit_tag "Sign Up" %>
  <% end %>

</div>
