<div class="container">
  <div class="row">
    <h3 class="col-lg-12 text-center">Previous/Current Orders</h3>
  </div>
  <div class="account">
    <% @orders.each do |order| %>
      <% if order.total_price != 0 %>
        <% if order.status == "browsing" %>
          <div class="row">
            <div class="col-lg-2 col-lg-offset-9"><%= link_to "Order # #{order.id}", "#" %> </div>
            <%= form_tag "order/#{order.id}", method: "DELETE"  do %>
              <%= submit_tag "Delete", data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
            <% end %>
          </div>
        <% end %>
        <% if order.status != "browsing" %>
          <div><%= link_to "Order # #{order.id}", order_path(order.id) %></div>
        <% else %>
          <div>Order # <%= order.id %></div>
        <% end %>
        <div>For: <%= order.name %></div>
        <div>Delivered to: <%= order.shipping_address %></div>
        <div>Status: <%= order.status %></div>
        <% order.items.each do |item| %>
          <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
              <%= image_tag(item.product_option.product.image_url, class: "image img-thumbnail") %>
            </div>
            <h4>
              <%= item.product_option.product.name %>
            </h4>
            <%= item.product_option.product.description %>
            <div>
              <%= item.product_option.name %>
              <%= item.product_option.formatted_price %>
            </div>
            <div>
              <strong>Quantity</strong>
              <%= item.quantity %>
            </div>
            <div>
              <strong>Sub Total </strong>
              <%= item.formatted_price %>
            </div>
          </div>
          <br>
        <% end %>
        <div class="row">
          <div class="col-lg-2 pull-right"><%= order.formatted_price %></div>
          <div class="col-lg-1 pull-right">Total</div>
        </div>
        <div class="white"></div>
      <% end %>
    <% end %>
  </div>
</div>
