<div class="container">
  <% if @current_order.items.blank? %>
    <h1 class="col-lg-6 col-lg-offset-3 text-center">Your cart is empty</h1>
  <% else %>
    <% @current_order.items.each do |item| %>
      <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
          <%= image_tag(item.product_option.product.image_url, class: "image") %>
        </div>
        <div class="col-lg-9">
          <h4>
            <%= item.product_option.product.name %>
          </h4>
          <%= item.product_option.product.description %>
          <div>
            <%= item.product_option.name %>
            <%= item.product_option.formatted_price %>
          </div>
          <div>
            <strong>Quantity </strong>
            <%= item.quantity %>
          </div>
          <div>
            <strong>Sub Total </strong>
            <%= item.formatted_price %>
          </div>
        </div>
      </div>
      <br>
    <% end %>

    <div class="row">
      <div class="col-lg-1 pull-right"><%= @current_order.formatted_price %></div>
      <div class="col-lg-1 pull-right">Total</div>
    </div>

  <div class="row">
    <% if @current_order.errors.any? %>
      <% @current_order.errors.full_messages.each do |message| %>
        <div class="col-lg-6 col-lg-offset-3 text-center alert alert-info"><strong><%= message %></strong></div>
      <% end %>
    <% end %>
  </div>

    <%= form_tag order_path(@current_order.id), method: "PATCH" do %>
        <div class="row">
          <div class="col-lg-3 col-lg-offset-3 text-center">
            <%= label_tag :name %>
          </div>
        <%= text_field_tag :name, nil, class: "col-lg-2" %>
        </div>
        <div class="row">
          <div class="col-lg-3 col-lg-offset-3 text-center">
            <%= label_tag "Shipping Address" %>
          </div>
          <%= text_area_tag :shipping_address, nil, class: "col-lg-2" %>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-2 col-lg-offset-5">
            <%= submit_tag "Submit Order", class: "btn btn-block btn-success" %>
          </div>
        </div>
      <% end %>
  <% end %>
</div>
