<div class="container">

  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <%= image_tag(@product.image_url, class: "image") %>
    </div>
    <h4 class="col-lg-9"><%= @product.name %></h4>
    <div class="col-lg-9"><%= @product.description %></div>
    <%= form_tag cart_path do %>
      <div class="col-lg-9">
        <%= select_tag "product_option_id", options_from_collection_for_select(@product_options, :id, :dropdown_view), class: "col-lg-3" %>
      </div>
      <div class="col-lg-1">
        <%= label_tag :quantity %>
      </div>
      <div class="col-lg-9">
        <%= select_tag "quantity", options_for_select(1..10), class: "col-lg-3" %>
      </div>
      <div class="col-lg-2">
        <%= submit_tag "Add to cart", class: "btn btn-block btn-success" %>
      </div>
    <% end %>
  </div>

</div>
