<!DOCTYPE html>
<html>
<head>
  <title>DressUp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="row header">
      <div class="col-lg-1">
        <%= link_to image_tag("https://s3.amazonaws.com/dressup02/logo.png"), root_path %>
      </div>
      <ul class="col-lg-11">
        <li><%= link_to "Cart (0)", cart_path %></li>
        <% if @current_user %>
          <li><%= link_to "Sign Out", sign_out_path %></li>
          <li><%= link_to "My Account", "#" %></li>
        <% else %>
          <li><%= link_to "Sign Up", sign_up_path %></li>
          <li><%= link_to "Sign In", sign_in_path %></li>
        <% end %>
      </ul>
    </div>
  </div>

<%= yield %>

</body>
</html>
