<!DOCTYPE html>
<html>
<head>
  <title>DressUp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="row header">
  <%= link_to image_tag("https://s3.amazonaws.com/dressup02/logo.png", class: "one offset-by-one column"), root_path %>
  <ul class="nine columns">
    <li><%= link_to "Cart (0)", "#" %></li>
    <li><%= link_to "Sign Up", "#" %></li>
    <li><%= link_to "Sign In", "#" %></li>
  </ul>
</div>
<%= yield %>

</body>
</html>
